* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'DINNextLTPro';
  line-height: 1.6;
  color: #fffce8;
  background-color: #0d0c12;
}

a, button {
  text-decoration: none;
  color: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.artists-container {
  padding-top: 60px; 
  background-color: #0d0c12;
  overflow: hidden;
}

.header-container {
  padding: 20px;
}

.all-designers {
  font-family: 'Rische';
  font-size: 124px;
  color: #fffce8;
  margin: 0;
}

.all-designers .dot {
  color: #ED254E;
}

.content {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px); /* Adjust this value based on the height of your Navbar */
}

.filter-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filters, .filter-inputs, .featured-artists {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-button {
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color: #181623;
}

.filter-button.active, .filter-button:hover {
  background-color: #6a3eb3;
}

.filter-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-inputs input {
  padding: 10px;
  border: none;
  width: 150px;
  background-color: #181623;
  box-shadow: 0 0 5px #6a3eb3;
  color: #fffce8;
  height: 25px; /* Match the height of the toggle switch */
}

.featured-artists {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181623;
  transition: 0.4s;
  border-radius: 25px;
}

.toggle-label:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: #fffce8;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-label {
  background-color: #6a3eb3;
}

input:checked + .toggle-label:before {
  transform: translateX(25px);
}

.artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
}

.artist-card {
  padding: 20px;
  border-radius: 10px;
  background-color: #181623;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.333% - 20px);
}

@media (max-width: 768px) {
  .artist-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .artist-card {
    width: 100%;
  }
}