* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'DINNextLTPro', sans-serif;
  line-height: 1.6;
  color: #fffce8;
  background-color: #0d0c12;
}

a, button {
  text-decoration: none;
  color: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.artists-container {
  padding-top: 60px; 
  background-color: #0d0c12;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.top-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10px; /* Set a small height for the top banner */
  margin-bottom: 10px; /* Reduce the margin to bring the sections closer */
  overflow: hidden; /* Ensure the image does not overflow */
}

.top-banner-img {
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  object-fit: cover; /* Ensure the image fits nicely in the banner without being squished */
  height: 100%; /* Ensure the image fills the height of the banner */
}

.all-designers {
  font-family: 'Rische', serif;
  font-size: 4rem;
  color: #fffce8;
  margin: 0;
  margin-top: 10px; /* Adjust to reduce distance from top banner */
}


.all-designers .dot {
  color: #ED254E;
}

.filter-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filters, .filter-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-button {
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color: #181623;
  color: #fffce8;
}

.filter-button.active, .filter-button:hover {
  background-color: #6a3eb3;
}

.filter-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar-artists {
  padding: 10px;
  border: none;
  width: 250px; /* Make the search bar longer */
  background-color: #181623;
  box-shadow: 0 0 5px #6a3eb3;
  color: #fffce8;
  border-radius: 5px;
}

.featured-artists {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move to the right corner */
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181623;
  transition: 0.4s;
  border-radius: 25px;
}

.toggle-label:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: #fffce8;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-label {
  background-color: #6a3eb3;
}

input:checked + .toggle-label:before {
  transform: translateX(25px);
}

.artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.artists-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}