* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Geomanist', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #0D0C12;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.home {
  width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: hidden; /* Ensure the background does not overflow */
}

.hero-overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1; /* Ensure the overlay content is above the background */
  width: 100%;
  background: transparent; /* Ensure the overlay is transparent */
}

.hero-content {
  text-align: center; /* Center text */
  width: 80%; 
  max-width: 1000px; 
  margin: 0 auto;
  margin-bottom: 20px; 
  z-index: 2; /* Ensure the content is above the overlay */
}

.hero-title {
  color: #ffffff;
  font-family: 'Geomanist', sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 3rem;
}

.hero-highlight {
  color: #ffffff;
  font-family: 'Geomanist', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 3rem;
}

.hero-description {
  color: #ffffff;
  font-family: 'Geomanist', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem; /* Reduced font size */
  margin-top: 20px;
  text-align: center; /* Center text */
  max-width: 600px; /* Reduced width */
  margin-left: auto; /* Center the container */
  margin-right: auto; /* Center the container */
}

.featured-works-container {
  text-align: center;
  margin-top: 60px;
}

.featured-works-title {
  font-family: 'Geomanist', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff; 
  display: inline-block;
  letter-spacing: 5px;
}

.menu-container {
  text-align: center;
  margin-top: 60px;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 0;
  gap: 20px; 
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  font-size: 16.8px;
  font-family: 'Geomanist', sans-serif;
  border-radius: 15px; 
  width: 150px; 
  padding: 10px 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: auto; 
}

.menu-item.active,
.menu-item:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.menu-item.active:before,
.menu-item:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor; 
  opacity: 0.2; 
  z-index: -1; 
}

.menu-item:nth-child(1).active,
.menu-item:nth-child(1):hover {
  color: #ED254E; 
}

.menu-item:nth-child(2).active,
.menu-item:nth-child(2):hover {
  color: #FFBE0B; 
}

.menu-item:nth-child(3).active,
.menu-item:nth-child(3):hover {
  color: #A0ECD0; 
}

.menu-item:nth-child(4).active,
.menu-item:nth-child(4):hover {
  color: #6610F2; 
}

.menu-item:nth-child(5).active,
.menu-item:nth-child(5):hover {
  color: #E5C1BD; 
}

.menu-item:nth-child(6).active,
.menu-item:nth-child(6):hover {
  color: #9ED0E6; 
}

.menu-item:nth-child(7).active,
.menu-item:nth-child(7):hover {
  color: #61E294; 
}

.work-cards-container {
  padding: 20px;
}

.work-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  justify-items: center;
}

.artist-cards-container {
  display: flex;
  overflow-x: auto;
  gap: 2px;
  padding: 20px 20px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.artist-cards-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.home-artists-section {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it fits within the container */
}

.home-artists-title {
  font-family: 'Geomanist', sans-serif;
  font-weight: 700;
  padding: 20px 20px;
  font-size: 2rem;
  color: #fff;
  text-align: left;
}

.artist-buttons {
  display: flex;
  gap: 10px;
  padding: 20px 20px;
}

.artist-button {
  font-family: 'Geomanist', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.artist-button.active,
.artist-button:hover {
  background-color: #fff;
  color: #000;
}

.view-all-button {
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 20px;
}

.view-all-button:hover {
  background-color: #fff;
  width: 160px;
  height: 40px;
}

.view-all-button .view-all-icon {
  font-size: 1.2rem;
  color: #000;
  transition: transform 0.3s ease;
}

.view-all-button:hover .view-all-icon {
  transform: translateX(-50px);
}

.view-all-text {
  position: absolute;
  left: 50px;
  white-space: nowrap;
  color: #000;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.view-all-button:hover .view-all-text {
  opacity: 1;
  transform: translateX(0);
}

