* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'DINNextLTPro', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #0D0C12;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.home {
  width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: hidden; /* Ensure the background does not overflow */
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Ensure the background is behind the content */
}

.hero-overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1; /* Ensure the overlay content is above the background */
  width: 100%;
  background: transparent; /* Ensure the overlay is transparent */
}

.hero-content {
  text-align: left; /* Align text to the left */
  width: 80%; 
  max-width: 1000px; 
  margin: 0 auto;
  margin-bottom: 20px; 
  z-index: 2; /* Ensure the content is above the overlay */
}

.hero-title {
  color: #ffffff;
  font-family: 'DINNextLTPro', sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 3rem;
}

.hero-highlight {
  color: #ffffff;
  font-family: 'DINNextLTPro', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 3rem;
}

.hero-description {
  color: #ffffff;
  font-family: 'DINNextLTPro', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-top: 20px;
}

.banner-container {
  text-align: center;
  margin: 40px 0;
}

.banner {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.featured-works-container {
  text-align: center;
  margin-top: 60px;
}

.featured-works-title {
  font-family: 'DINNextLTPro', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff; 
  display: inline-block;
  letter-spacing: 5px;
}

.menu-container {
  text-align: center;
  margin-top: 60px;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 0;
  gap: 20px; 
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  font-size: 16.8px;
  font-family: 'DINNextLTPro', sans-serif;
  border-radius: 15px; 
  width: 150px; 
  padding: 10px 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: auto; 
}

.menu-item.active,
.menu-item:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.menu-item.active:before,
.menu-item:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor; 
  opacity: 0.2; 
  z-index: -1; 
}

.menu-item:nth-child(1).active,
.menu-item:nth-child(1):hover {
  color: #ED254E; 
}

.menu-item:nth-child(2).active,
.menu-item:nth-child(2):hover {
  color: #FFBE0B; 
}

.menu-item:nth-child(3).active,
.menu-item:nth-child(3):hover {
  color: #A0ECD0; 
}

.menu-item:nth-child(4).active,
.menu-item:nth-child(4):hover {
  color: #6610F2; 
}

.menu-item:nth-child(5).active,
.menu-item:nth-child(5):hover {
  color: #E5C1BD; 
}

.menu-item:nth-child(6).active,
.menu-item:nth-child(6):hover {
  color: #9ED0E6; 
}

.menu-item:nth-child(7).active,
.menu-item:nth-child(7):hover {
  color: #61E294; 
}

.work-cards-container {
  padding: 20px;
}

.work-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  justify-items: center;
}

@media (max-width: 768px) {
  .hero-title, .hero-highlight {
    font-size: 2rem;
  }

  .hero-content {
    text-align: left;
  }

  .hero-description {
    font-size: 1rem;
  }

  .featured-works-title {
    font-size: 2rem;
  }

  .menu-item {
    font-size: 14px;
    width: 120px;
  }

  .menu-icon {
    font-size: 32px;
  }
}