/* Trending Tags Styling */
.trending-tags-searches {
  width: 100%;
  display: flex;
  align-items: left;
  gap: 16px;
  transform: scale(0.9); /* Scaled down */
}

.trending-tags-header {
  color: white;
  font-size: 20px; /* Reduced font size */
  font-family: 'Geomanist', sans-serif;
  font-weight: 300;
}

.trending-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Reduced gap */
}

.trending-tag {
  padding: 6px 12px; /* Reduced padding */
  border-radius: 20px;
  border: 2px solid #31121A;
  background: #0D0C12;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.trending-tag:hover {
  background: #ED254E; /* Default hover color */
  border-color: #ED254E; /* Default hover border color */
}

.trending-tag-text {
  color: white;
  font-size: 14px; /* Reduced font size */
  font-family: 'Geomanist', sans-serif;
  font-weight: 500;
}

/* Responsive Design */
@media (max-width: 768px) {
  .trending-tags-header {
    font-size: 18px; /* Reduced font size */
  }

  .trending-tag {
    padding: 4px 10px; /* Reduced padding */
    font-size: 12px; /* Reduced font size */
  }

  .trending-tag-text {
    font-size: 12px; /* Reduced font size */
  }
}