    /* Right section styling */
    .details-right {
        flex: 1; /* Occupies less space */
        background-color: #222;
        padding: 20px;
        border-radius: 12px;
        color: white;
        font-family: 'DINNextLTPro', sans-serif;
        font-size: 12px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      /* Right section list */
      .details-right ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 8px; /* Add space between list items */
      }
  /* Specifications title */
  .details-right h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--accent-color);
  }
  
  /* Specification list items */
  .details-right ul li {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .details-right ul li strong {
    color: white;
  }
  
  .details-right ul li span {
    color: #ccc;
  }

