.work-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 291.2px; /* 4% increase */
  height: 468px; /* 4% increase */
  text-align: left;
  transition: color 0.3s, background-color 0.3s;
  position: relative;
}


/* Hover styles for card-wide interactions */
.work-card:hover .work-card-meta,
.work-card:hover .work-card-meta span,
.work-card:hover .work-card-title,
.work-card:hover .work-card-description {
  color: var(--accent-color);
}

.work-card:hover .work-card-button {
  background-color: var(--accent-color);
  color: black;
}

/* Image styles */
.work-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-card-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  overflow: hidden;
  margin-bottom: 16.64px;
}

/* Meta information */
.work-card-meta {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Slightly increased gap */
}

.work-card-meta p {
  margin: 1px 0; 
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #f0f0f0;
}

.work-card-meta strong,
.work-card-meta span {
  font-family: 'DINNextLTPro', sans-serif;
  font-size: 10.2px; /* Slightly increased font size */
  transition: color 0.3s ease;
}

.work-card-meta strong {
  font-weight: 700;
}

.work-card-meta span {
  font-weight: 200;
}

/* Title styles */
.work-card-title {
  font-family: 'DINNextLTPro', sans-serif;
  font-size: 32.6px; /* Slightly increased font size */
  font-weight: 700;
  color: white;
  line-height: 1.2; 
  margin-top: 2px;
  width: 100%;
  word-wrap: break-word;
  transition: color 0.3s ease;

  /* Truncate after two lines */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Description styles */
.work-card-description {
  font-size: 10.2px;
  color: white;
  font-family: 'DINNextLTPro', sans-serif;
  margin: 8px 0;
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* Button styles */
.work-card-button {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 6.12px 10.2px;
  cursor: pointer;
  border-radius: 12.1px;
  text-align: center;
  font-size: 10.2px;
  font-weight: 700;
  width: 100%;
  margin-top: auto;
  transition: background-color 0.3s, color 0.3s;
}

.card-rating-badge {
  background-color: var(--accent-color);
  color: black;
  font-family: 'DINNextLTPro', sans-serif;
  border-radius: 5px;
  padding: 2.04px 5.1px; /* Slightly increased padding */
  font-size: 10.2px; /* Slightly increased font size */
  font-weight: 700;
  text-align: center;
  max-width: 51px; /* Slightly increased max width */
  max-height: 25px;
  overflow: hidden; 
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.card-star-icon {
  width: 18px; /* Icon width */
  height: 18px; /* Icon height */
}

.work-card-pan-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  z-index: 1;
}



/* Tag styles */
.work-card-tags {
  font-size: 12.24px; /* Slightly increased font size */
  font-weight: 400;
  color: var(--accent-color);
  display: flex;
  gap: 3.1px; /* Slightly increased gap */
  flex-wrap: wrap;
}

.work-card-tag {
  background-color: var(--accent-color);
  color: black;
  padding: 2.04px 5.1px; /* Slightly increased padding */
  font-family: 'DINNextLTPro', sans-serif;
  border-radius: 14.1px; /* Slightly increased border radius */
  font-size: 7.14px; /* Slightly increased font size */
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.work-card-tag:hover {
  background-color: var(--accent-color);
  color: black;
}
