.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: white;
    font-family: 'DINNextLTPro', sans-serif;
}

.login-left {
    width: 50%;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'DINNextLTPro', sans-serif;
}

.login-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.login-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    z-index: 1;
    font-family: 'DINNextLTPro', sans-serif;
}

.login-text-content {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: auto;  
    z-index: 1;
    font-family: 'DINNextLTPro', sans-serif;
    text-align: left;  
    color: #D1D1D1;
    width: auto;  
    max-width: 500px; 
    padding: 10px; 
}

.login-text-content h1 {
    font-size: 64px;  
    font-family: 'DINNextLTPro', sans-serif;
    width: 100%;  
    line-height: 1;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
}

.photo-credit {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-family: 'DINNextLTPro', sans-serif;
}

.login-right {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-family: 'DINNextLTPro', sans-serif;
}


.login-bar-container {
    position: relative;
    height: 4px;
    display: flex;
    background-color: #DADADA; 
    width: 42%; 
}

.login-bar {
    position: absolute;
    height: 100%;
    background-color: #4c1bfc; 
    transition: transform 0.3s, width 0.3s;
    bottom: 0; 
}

.login-nav {
    font-size: 20px;
    display: flex;
    gap: 10px;
    font-family: 'DINNextLTPro', sans-serif;
    font-weight: 300;
    color: black;
    position: relative;
}

.login-nav .active {
    font-size: 20px;
    color: #4c1bfc;
    font-weight: 700;
    font-family: 'DINNextLTPro', sans-serif;
    font-weight: 700;
}


.login-nav span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.login-nav a {
    font-size: 20px;
    color: #242423;
    text-decoration: none;
    font-family: 'DINNextLTPro', sans-serif;
    font-weight: 300;
}

.login-form-container h1 {
    font-size: 72px;
    font-family: 'DM Serif Display', serif;
    font-weight: 300; 
    color: #242423;
    text-align: left;
}


.login-form-container > p {
    color: #242423;
    margin-bottom: 40px;
    font-family: 'DINNextLTPro', sans-serif;
    font-weight: normal; 
    text-align: left;
    white-space: normal;
    max-width: 300px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    color: #333533;
    text-align: left;
}


.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-family: 'DINNextLTPro', sans-serif;
    font-size: 16;
}

.form-group input {
    width: 100%;
    padding: 16px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'DINNextLTPro', sans-serif;
    background-color: #F5F7FA;
    height: 50px; 
}


.password-input {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 18px;  
    height: 18px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'DINNextLTPro', sans-serif;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'DINNextLTPro', sans-serif;
    color: #333533;
}


.forgot-password {
    color: #0066cc;
    text-decoration: none;
    font-family: 'DINNextLTPro', sans-serif;
}

.sign-in-button {
    width: 100%;
    padding: 14px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'DINNextLTPro', sans-serif;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'DINNextLTPro', sans-serif;
    color: black;
}

.social-button {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DINNextLTPro', sans-serif;
}

.social-button img {
    width: 20px;
    height: 20px;
}


.progress-container {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 4px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 2;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4c1bfc;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes progress-bar-animation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

.slide-progress {
    width: 100%;
    height: 100%; 
    border-radius: 0; 
    overflow: hidden;
    appearance: none; 
}

.slide-progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 0;
}

.slide-progress::-webkit-progress-value {
    background-color: #4c1bfc;
    border-radius: 0;
}

.slide-progress::-moz-progress-bar {
    background-color: #4c1bfc; 
    border-radius: 0; 
}
